<!-- HEADER PRINCIPAL -->
<div class="mi-empresa-header">LOGS - AUDITORÍA</div>

<!-- CONTENEDOR PRINCIPAL -->
<div class="contenedor-logs">
  <!-- LISTADO DE LOGS -->
  <div class="logs-list">
    <div class="log-card" *ngFor="let log of logsPaginados">
      <div class="log-avatar">
        <img 
          [src]="log.usuarios.foto_url || '/assets/userDefault.svg'" 
          alt="Avatar del usuario"
          (error)="log.usuarios.foto_url = '/assets/userDefault.svg'" />
      </div>
      
      <div class="log-texto">
        <span>
          <strong>{{ log.usuarios.primer_nombre }} {{ log.usuarios.apellido_p }}</strong> 
          ha modificado {{ log.accion }}
        </span>
      </div>
      
      <div class="log-fecha-accion">
        <span class="log-fecha">{{ log.fecha | date: 'dd/MM/yyyy' }}</span>
        <img class="log-eye" src="/assets/eyeLogs.svg" alt="Detalle" />
      </div>
    </div>
  </div>

  <!-- PAGINADOR -->
  <mat-paginator
    [length]="logs.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 15]"
    [pageIndex]="pageIndex"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>
