<!-- HEADER BIENVENIDA -->
<div class="mi-empresa-header">
  ¡Bienvenido de vuelta {{ usuario.primer_nombre | uppercase }} {{ usuario.apellido_p | uppercase }}!
</div>

<!-- SECCIÓN DE ACCESOS DIRECTOS -->
<div class="seccion-accesos">
  <div class="card-acceso" *ngIf="!esEvaluador" (click)="irEmpresas()">
    <span>Ir a Empresas</span>
    <img src="/assets/empresasAD.svg" alt="Ir a Empresas" />
  </div>
  <div class="card-acceso" (click)="irEvaluaciones()">
    <span>Ir a Evaluaciones</span>
    <img src="/assets/evaluacionesAD.svg" alt="Ir a Evaluaciones" />
  </div>
  <div class="card-acceso" *ngIf="!esEvaluador" (click)="irUsuarios()">
    <span>Ir a Usuarios</span>
    <img src="/assets/usuariosAD.svg" alt="Ir a Usuarios" />
  </div>
  <div class="card-acceso" (click)="irPostulantes()">
    <span>Ir a Postulantes</span>
    <img src="/assets/PostulantesAD.svg" alt="Ir a Postulantes" />
  </div>
  <div class="card-acceso" *ngIf="!esEvaluador" (click)="irEvaluadores()">
    <span>Ir a Evaluadores</span>
    <img src="/assets/evaluadoresAD.svg" alt="Ir a Evaluadores" />
  </div>
</div>

<!-- HEADER ACTIVIDAD -->
<div class="mi-empresa-header">
  Actividad en el mes
</div>

<!-- SECCIÓN DE INDICADORES -->
<div class="seccion-indicadores">
  <div class="card-indicador">
    <span class="indicador-label">Realizaste</span>
    <span class="indicador-numero">{{ totalEvaluacionesRealizadas }}</span>
    <span class="indicador-detalle">Evaluaciones</span>
  </div>
  <div class="card-indicador">
    <span class="indicador-label">Tienes</span>
    <span class="indicador-numero">{{ totalEvaluacionesPendientes }}</span>
    <span class="indicador-detalle">Pendientes</span>
  </div>
  <div class="card-indicador">
    <span class="indicador-label">Evaluaste</span>
    <span class="indicador-numero">{{ totalPostulantesEvaluados }}</span>
    <span class="indicador-detalle">Postulantes</span>
  </div>
  <div class="card-indicador">
    <span class="indicador-label">Rechazaste</span>
    <span class="indicador-numero">{{ totalPostulantesRechazados }}</span>
    <span class="indicador-detalle">Postulantes</span>
  </div>
</div>
