.overlay {
    position: fixed;
    inset: 0;
    background: #00000061;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.empresa-modal {
    background: #ffffff;
    border-radius: 20px;
    width: 90%;
    max-width: 940px;
    padding: 2rem;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: fadeInModal 0.5s ease;
}

.modal-title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}

.empresa-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
}

.custom-select {
    width: 85%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  --mdc-filled-text-field-container-color: #ffffff !important;
}

::ng-deep .mat-mdc-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #ffffff !important;
}

.botones-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.botones-columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
}


/* Botón Eliminar (rojo) */
.btn-eliminar {
  width: 160px;
  height: 50px;
  background-color: #FF0000B2;
  box-shadow: 8px 8px 8px 0px #00000066;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn-eliminar:hover {
  transform: translateY(-2px);
}

/* Botón Guardar (azul oscuro) */
.btn-guardar {
  width: 160px;
  height: 50px;
  background-color: #004A75;
  box-shadow: 8px 8px 8px 0px #00000066;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

.btn-guardar:hover {
  transform: translateY(-2px);
}


@media (max-height: 800px) {
    .empresa-modal {
      max-height: 85vh;
      padding: 1.2rem;
    }

    .modal-title {
      font-size: 20px;
    }

    .empresa-form {
      gap: 1rem;
    }
}

@media (max-width: 768px) {
    .empresa-modal {
        padding: 1rem;
        border-radius: 12px;
    }

    .modal-title {
      font-size: 18px;
    }
}

@media (max-height: 600px) {
    .empresa-modal {
      max-height: 78vh;
      padding: 1rem;
    }

    .modal-title {
      font-size: 18px;
    }

    .empresa-form {
      gap: 0.8rem;
    }
}

@media (max-width: 480px) {
    .modal-title {
      font-size: 16px;
    }

    .empresa-form {
      gap: 0.8rem;
    }
}