@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.login-container {
  height: 100vh;
  background: linear-gradient(to right, #FFCB72 0%, #FFF8E4 50%, #FF9D00 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  display: flex;
  width: 90%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 2%;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.image-section {
  background: #F3AF42;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; /* Evita que partes no deseadas queden visibles */
}

.image-section img {
  width: 140%; /* Aumenta el tamaño para que sobresalga */
  height: 140%;
  object-fit: cover;
  position: absolute;
}

.form-section {
  flex: 1;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 250%;
  text-align: center;
  background: linear-gradient(to bottom, #FF9D00, #965D02);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5%;
}

.custom-field {
  width: 100%;
  margin-bottom: 4%;
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
}

/* Quitar background al texto*/
.mat-mdc-form-field {
  --mat-sys-surface-variant: transparent !important;
}
/* Quitar background al input*/
.mdc-text-field__input {
  background: transparent !important;
}

.mat-mdc-raised-button:not(:disabled) {
  color: white !important;
  font-size: 20px !important;
}

.login-button {
  background: linear-gradient(180deg, #F3AF42 0%, #674103 166.39%);
  border-radius: 25px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  height: 45px;
  width: 100%;
  margin-top: 2%;
  box-shadow: none;
  transition: transform 0.2s;
  font-size: 120%;
}

.login-button:hover {
  transform: scale(1.03);
  box-shadow: none;
}

.forgot-password {
  text-align: center;
  margin-top: 3%;
}

.forgot-password a {
  text-decoration: none;
  color: #674103;
  font-family: 'Poppins', sans-serif;
  font-size: 110%
}

.forgot-password a:hover {
  text-decoration: underline;
}

.mat-mdc-form-field .mat-mdc-floating-label {
  color: black !important;
  font-family: 'Poppins', sans-serif !important;
}

.mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
  color: #674103 !important;
}
.mat-mdc-form-field-subscript-wrapper {
  color: #674103 !important;
  font-family: 'Poppins', sans-serif !important;
}
